@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme colours */
:root {
  --theme: #2b5292;
  --background: #efefef;
}

body {
  background-color: var(--theme);
}

.full-height {
  min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  min-height: var(--vh);
}

.full-width {
  min-width: 100vh; /* Fallback for browsers that do not support Custom Properties */
  min-width: var(--vw);
}
